<?xml version="1.0"?>
<config>
    <modules>
        <Yuzu_Tags>
            <version>1.0.5</version>
        </Yuzu_Tags>
    </modules>

    <global>
        <helpers>
            <yuzu_tags>
                <class>Yuzu_Tags_Helper</class>
            </yuzu_tags>
        </helpers>
        <blocks>
            <yuzu_tags>
                <class>Yuzu_Tags_Block</class>
            </yuzu_tags>
        </blocks>
        <models>
            <yuzu_tags>
                <class>Yuzu_Tags_Model</class>
            </yuzu_tags>
        </models>
        <events>
            <admin_system_config_changed_section_yuzu_tags>
                <observers>
                    <Yuzu_Tags_Observer>
                       <type>singleton</type>
                       <class>Yuzu_Tags_Model_Observer</class>
                       <method>handleSaveConfig</method>
                    </Yuzu_Tags_Observer>
                </observers>
            </admin_system_config_changed_section_yuzu_tags>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <yuzu_tags>
                    <file>yuzu_tags.xml</file>
                </yuzu_tags>
            </updates>
        </layout>
        <routers>
            <yuzu>
                <use>standard</use>
                <args>
                    <module>Yuzu_Tags</module>
                    <frontName>yuzu</frontName>
                </args>
            </yuzu>
        </routers>
    </frontend>

    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <yuzu_tags_controller_action_predispatch>
                        <class>Yuzu_Tags_Model_Notifier</class>
                        <method>preDispatch</method>
                    </yuzu_tags_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>

    <default>
	    <yuzu_tags>
            <feed_url>my.yuzu.co/mage-notifications.rss</feed_url>
	        <general>
                <tag_url_js>//static.yuzu.co/yuzu-latest.js</tag_url_js>
                <tag_url_collect>//cs.yuzu.co</tag_url_collect>
                <enable>0</enable>
                <monetize>1</monetize>
	        </general>
            <advanced>
                <in_email>1</in_email>
                <ready_in_email>0</ready_in_email>
            </advanced>
            <events>
                <product_addcart_form_selector>#product_addtocart_form</product_addcart_form_selector>
                <product_addcart_button_selector>#product_addtocart_form .add-to-cart-buttons button</product_addcart_button_selector>
                <product_addwishlist_button_selector>a.link-wishlist</product_addwishlist_button_selector>
                <product_addcompare_button_selector>a.link-compare</product_addcompare_button_selector>
            </events>
	    </yuzu_tags>
    </default>    
</config>
